{% extends "base.html.j2" %}

{% block body %}
    {% for item in comparison.common %}
    <a href="#{{ item.key }}" title="{{ item.key }}">
        {{ item.status.icon | emojize }}
    </a>
    {% endfor %}
    <hr>
    {% for item in comparison.common %}
    <div class="box">
        <h2 class="title {% if item.status == Status.FAILURE -%}
        has-text-danger
        {%- elif item.status == Status.INCONCLUSIVE -%}
        has-text-warning
        {%- endif -%}" id="{{ item.key }}">
            {{ item.key }}
        </h2>
        <div class="columns">
            <div class="column is-half">
                {% for plot in item.generic_plots %}
                <img src="{{plot}}"/>
                {% endfor %}
            </div>
            <div class="column is-half">
                <div x-data="{open: {{item.first_plot_index or 0}} }">
                    <div class="tabs">
                        <ul>
                            {% for check in item.checks %}
                            <li :class="open == {{loop.index-1}} ? 'is-active' : ''">
                            <a @click="open = {{loop.index-1}}"
                            {% if check.status == Status.SUCCESS %}
                                class="has-text-success"
                            {% elif check.status == Status.FAILURE %}
                            class="has-text-danger"
                            {% elif check.status == Status.INCONCLUSIVE %}
                            class="has-text-warning"
                            {% endif %}
                            >
                                {{ check.status.icon | emojize }}
                                {{ check }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% for check in item.checks %}
                        <div x-show="open == {{loop.index-1}}">
                            {% if check.is_applicable() %}
                            {{ check.label() }}
                            {% if check.plot is not none %}
                                <img src="{{check.plot}}"/>
                            {% endif %}
                            {% else %}
                            {{check}} is not applicable
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
